#post-1921 {
    & .um-directory {
        margin-bottom: 0 !important;
    }

    & .um-member-directory-header,
    & .um-members-pagination-box {
        display: none;
    }

    & .um-member {
        border: none;
    }

    & .um-member-photo {
        padding-top: $spacing-small;
    }

    & .um-members-edit-btn {
        display: none;
    }
}
