#tribe-events-content {
    /* Establishing base fonts */
    & * {
        font-family: "Roboto Slab", serif !important;
    }

    /*  Back to the main calendar button */
    & .tribe-events-back > a {
        background-color: transparent;
        color: $color-primary;

        &:hover {
            color: $color-secondary;
        }
    }

    & .tribe-common-g-row--gutters {
        padding: $spacing-medium;
    }

    & .tribe-tickets__rsvp-wrapper {
        margin: $spacing-small 0;

        & .tribe-common-b3--min-medium {
            display: none;
        }
    }

    & .tribe-link-view-attendee {
        padding-top: $spacing-medium;
    }

    /* Add to personal calendar links */
    & .tribe-events-cal-links > a.tribe-events-button {
        color: $color-primary;
    }

    /* Who's attending list */
    & .tribe-attendees-list {
        margin: $spacing-medium 0;
    }

    /* The image of who is attending an event */
    & .tribe-attendees-list-shown > img {
        border-radius: 50%;
    }

    /* Venue Google Map link */
    & .tribe-events-meta-group a.tribe-events-gmap {
        color: $color-white;

        &:hover {
            color: $color-secondary;
        }
    }

    /* RSVP going button */
    & .tribe-tickets__rsvp-actions-rsvp-going button.tribe-common-c-btn {
        @include button-visuals;
    }
}
