.site-footer {
    background-color: $color-gray-dark;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .footer-widget,
    & .wp-block-social-links {
        align-items: center;
        display: flex;
        flex-basis: 100%;
        flex-wrap: nowrap;
        justify-content: center;

        &.middle {
            margin: $spacing-medium 0;
        }

        & > li.wp-social-link {
            background-color: $color-gray-dark !important;
        }

        & p {
            color: $color-white;
        }
    }

    @media (min-width: $breakpoint-width-medium) {
        flex-wrap: nowrap;
        justify-content: space-between;

        & .footer-widget {
            flex-basis: 32%;

            &.middle {
                margin: 0;
            }

            &.right {
                justify-content: flex-end;
            }
        }
    }

    @media (min-width: $max-page-width) {
        width: $max-page-width;

        padding-left: calc((100vw - #{$max-page-width}) / 2) !important;
        padding-right: calc((100vw - #{$max-page-width}) / 2) !important;
    }
}