a {
    background-color: transparent;
    color: $color-secondary;
    padding: 0 2px;
    text-decoration: none;

    &:hover {
        color: $color-secondary-dark;
        text-decoration: underline;
    }
}