.wp-block-site-tagline {
    background-color: $color-primary;
    color: $color-white;
    font-size: $fontsize-xlarge;
    font-weight: 700;
    margin: $spacing-large 0;
    padding: $spacing-xxlarge 0;
}
