div.um.um-account,
div.um.um-login,
div.um.um-password,
div.um.um-profile,
div.um.um-register {
    max-width: 100%;
    padding: $spacing-small;
    width: calc(100vw - (#{$spacing-small} * 2));

    @media (min-width: $max-page-width) {
        width: 100%;
    }

    & .um-header {
        border-width: 0;
    }

    & .um-profile-headericon a {
        color: $color-primary;

        &:hover {
            color: $color-secondary;
        }
    }

    & .um-profile-edit .um-profile-edit-a::before {
        content: 'Edit';
        font-size: 0.5em;
        line-height: 2;
        margin-right: $spacing-small;
        vertical-align: middle;
    }

    & .um-form {
        width: 100%;
    }

    & .um-profile-body {
        max-width: 100%;
    }

    & .um-field-divider {
        margin-top: $spacing-medium;
    }

    & .um-account-side, 
    & .um-account-main {
        margin-top: $spacing-medium;
    }

    & .um-account-name > a,
    & .um-account-profile-link > a {
        color: $color-primary;

        &:hover {
            color: $color-secondary;
        }
    }

    & .um-field-radio.active i {
        color: $color-primary !important;
    }

    & .um-request-button {
        @include button-visuals;
    }

    & .um-account-link {
        background-color: $color-primary;
        color: $color-white !important;

        &:hover {
            background-color: $color-secondary;

            & .um-account-icon,
            & .um-account-title,
            & .um-account-arrow {
                color: white !important;
            }
        }

        &.current {
            background-color: $color-secondary;
        }

        & .um-account-icon,
        & .um-account-title,
        & .um-account-arrow {
            color: white !important;

            &:hover {
                color: white !important;
            }
        }
    }

    & .um-field-block[data-key="um_block_2070_18"] {
        font-size: $fontsize-small;
        font-style: italic;
    }

    & input.um-button[type="submit"],
    & #um-submit-btn {
        @include button-visuals;
    }

    & .um-alt {
        @include button-visuals-inverted;
    }

    & .um-profile-headericon a:hover,
    .um-profile.um .um-profile-edit-a.active {
        &:hover {
            color: $color-primary;
        }
    }

    & .um-profile-photo a.um-profile-photo-img {
        top: 0 !important;
    }

    & .um-main-meta ~ .um-meta-text {
        display: none;
    }

    & .um-postmessage {
        margin-top: $spacing-large;
        text-align: center;
    }
}
