.um-members-grid {
    align-items: flex-start !important;
    border: unset !important;
    display: flex;
    height: auto !important;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: unset !important;
    width: 100%;
    word-break: unset !important;

    & .um-gutter-sizer {
        display: none;
    }

    & .um-member {
        border: unset !important;
        display: block !important;
        flex-basis: 49%;
        float: unset !important;
        left: unset !important;
        margin: $spacing-small 0 !important;
        position: relative !important;
        top: unset !important;
        width: auto !important;
        word-break: unset !important;

        & .um-member-meta {
            border-width: 0 !important;
            margin-top: 0 !important;
            padding-top: 0 !important;
        }

        & .um-member-name {
            margin: 0 !important;

            & a {
                line-height: 1 !important;
            }
        }

        & .um-member-metaline-tb_class_year {
            padding-top: 0 !important;

            &::before {
                content: "Class Of ";
            }
        }

        & .um-member-metaline-user_email {
            margin-top: $spacing-small;
        }

        & .um-member-card,
        & .um-member-photo {
            flex-basis: 100%;
        }

        & .um-member-metaline {
            padding-top: $spacing-xsmall !important;
        }

        & .um-members-edit-btn {
            display: none;
        }

        @media (min-width: $breakpoint-width-small) {
            flex-basis: 32%;
        }

        @media (min-width: $breakpoint-width-medium) {
            flex-basis: 19%;
        }
    }
}

.entry-content .um .um-button {
    @include button-visuals;
    border: 1px solid $color-primary !important;
    box-shadow: none;

    &:hover {
        border: 1px solid $color-primary !important;
        cursor: pointer;
    }
}

.um-member-directory-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: $spacing-large;

    & .um-member-directory-header-row {
        flex-basis: 1;
    }

    & .um-search-line {
        height: 50px !important;
    }
}

.um-members-wrapper {
    flex-wrap: wrap !important;

    & .um-member {
        margin-top: 1.5rem;
    }

    & .um-member-name > a {
        color: $color-primary !important;
    }

    & .um-member-metaline strong {
        display: none !important;
    }

    & .um-members-edit-btn > a.um-button {
        @include button-visuals;

        &::before {
            color: $color-white;
        }

        &:hover {
            &::before {
                color: $color-primary;
            }
        }
    }
}
