.has-brand-primary-color,
.has-brand-primary-color * {
    color: $color-primary;
}

.has-brand-primary-light-color,
.has-brand-primary-light-color > * {
    color: $color-primary-light;
}

.has-brand-primary-dark-color,
.has-brand-primary-dark-color > * {
    color: $color-primary-dark;
}

.has-brand-secondary-color,
.has-brand-secondary-color > * {
    color: $color-secondary;
}

.has-brand-secondary-light-color,
.has-brand-secondary-light-color > * {
    color: $color-secondary-light;
}

.has-brand-secondary-dark-color,
.has-brand-secondary-dark-color > * {
    color: $color-secondary-dark;
}

.has-brand-tertiary-color,
.has-brand-tertiary-color > * {
    color: $color-tertiary;
}

.has-brand-tertiary-light-color,
.has-brand-tertiary-light-color > * {
    color: $color-tertiary-light;
}

.has-brand-tertiary-dark-color,
.has-brand-tertiary-dark-color > * {
    color: $color-tertiary-dark;
}

.has-brand-gray-color,
.has-brand-gray-color > * {
    color: $color-gray;
}

.has-brand-gray-light-color,
.has-brand-gray-light-color > * {
    color: $color-gray-light;
}

.has-brand-gray-dark-color,
.has-brand-gray-dark-color > * {
    color: $color-gray-dark;
}

.has-brand-white-color,
.has-brand-white-color > * {
    color: $color-white;
}

.has-brand-primary-background-color,
.has-brand-primary-background-color > * {
    background-color: $color-primary;
}

.has-brand-primary-light-background-color,
.has-brand-primary-light-background-color > * {
    background-color: $color-primary-light;
}

.has-brand-primary-dark-background-color,
.has-brand-primary-dark-background-color > * {
    background-color: $color-primary-dark;
}

.has-brand-secondary-background-color,
.has-brand-secondary-background-color > * {
    background-color: $color-secondary;
}

.has-brand-secondary-light-background-color,
.has-brand-secondary-light-background-color > * {
    background-color: $color-secondary-light;
}

.has-brand-secondary-dark-background-color,
.has-brand-secondary-dark-background-color > * {
    background-color: $color-secondary-dark;
}

.has-brand-tertiary-background-color,
.has-brand-tertiary-background-color > * {
    background-color: $color-tertiary;
}

.has-brand-tertiary-light-background-color,
.has-brand-tertiary-light-background-color > * {
    background-color: $color-tertiary-light;
}

.has-brand-tertiary-dark-background-color,
.has-brand-tertiary-dark-background-color > * {
    background-color: $color-tertiary-dark;
}

.has-brand-gray-background-color,
.has-brand-gray-background-color > * {
    background-color: $color-gray;
}

.has-brand-gray-light-background-color,
.has-brand-gray-light-background-color > * {
    background-color: $color-gray-light;
}

.has-brand-gray-dark-background-color,
.has-brand-gray-dark-background-color > * {
    background-color: $color-gray-dark;
}

.has-brand-white-background-color,
.has-brand-white-background-color > * {
    background-color: $color-white;
}