.wp-block-social-links > li.wp-social-link {
    background-color: $color-secondary !important;
    margin-right: $spacing-medium !important;
    padding: $spacing-xsmall;

    &:last-child {
        margin-right: 0 !important;
    }

    & svg {
        height: 40px;
        width: 40px;
    }
}
