body {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.entry-header,
.entry-content > *,
#tribe-events-pg-template {
    /*
     * After the max page width has been hit, start to add padding to each side of
     * every direct child in the entry content section equal to the current page size
     * minus the max page width divided by two
    */
    box-sizing: border-box;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    width: 100%;

    @media (min-width: $max-page-width) {
        padding-left: calc((100vw - #{$max-page-width}) / 2) !important;
        padding-right: calc((100vw - #{$max-page-width}) / 2) !important;
    }
}

.entry-content > *:first-child {
    /* 
     * The first child of the entry content should never have a top margin, regardless
     * of what the element is. This would put an awkward space between it and the header.
    */
    margin-top: 0 !important;
}

.wp-block-image {
    & img {
        /* 
        * When images are put in the width gets changed as they grow and shrink.
        * This makes sure that the height corresponds with it instead of remaining.
        */
        height: auto;
    }
}

.wp-block-columns {
    margin: $spacing-medium 0;

    @media (max-width: $breakpoint-width-small) {
        text-align: center;
    }
}

#wpadminbar {
    position: fixed !important;
}
