body {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

.entry-content > * {
    /*
     * After the max page width has been hit, start to add padding to each side of
     * every direct child in the entry content section equal to the current page size
     * minus the max page width divided by two
    */
    @media (min-width: $max-page-width) {
        padding-left: calc((100vw - #{$max-page-width}) / 2) !important;
        padding-right: calc((100vw - #{$max-page-width}) / 2) !important;
    }
}

.entry-content > *:first-child {
    /* 
     * The first child of the entry content should never have a top margin, regardless
     * of what the element is. This would put an awkward space between it and the header.
    */
    margin-top: 0 !important; 
}

.wp-block-columns img {
    /* 
     * When images are put into columns the width gets changed as the columns grow and shrink.
     * This makes sure that the height corresponds with it instead of remaining.
    */
    height: auto;
    margin-bottom: $spacing-small;
}

.wp-block-columns {
    margin: $spacing-medium 0;
}

/******** Brand Color Classes ********/
.has-brand-primary-color {
    color: $color-primary;
}

.has-brand-primary-light-color {
    color: $color-primary-light;
}

.has-brand-primary-dark-color {
    color: $color-primary-dark;
}

.has-brand-secondary-color {
    color: $color-secondary;
}

.has-brand-secondary-light-color {
    color: $color-secondary-light;
}

.has-brand-secondary-dark-color {
    color: $color-secondary-dark;
}

.has-brand-tertiary-color {
    color: $color-tertiary;
}

.has-brand-tertiary-light-color {
    color: $color-tertiary-light;
}

.has-brand-tertiary-dark-color {
    color: $color-tertiary-dark;
}

.has-brand-gray-color {
    color: $color-gray;
}

.has-brand-gray-light-color {
    color: $color-gray-light;
}

.has-brand-gray-dark-color {
    color: $color-gray-dark;
}

/*/////// Brand Color Classes ///////*/
