/******** Brand Colors ********/
$color-primary: #a31f34;
$color-primary-light: #c96f70;
$color-primary-dark: #80001c;
$color-secondary: #ff8300;
$color-secondary-light: #ffad61;
$color-secondary-dark: #e06423;
$color-tertiary: #fceac1;
$color-tertiary-light: #fef4e0;
$color-tertiary-dark: #f8e0a4;
$color-white: #ffffff;

/******** SPACING ********/
$spacing-xsmall: 0.25rem;
$spacing-small: 0.5rem;
$spacing-medium: 1.5rem;
$spacing-large: 2.5rem;
$spacing-xlarge: 5rem;
$spacing-xxlarge: 7rem;

/******** TYPOGRAPHY ********/
$fontsize-xsmall: 16px;
$fontsize-small: 20px;
$fontsize-medium: 30px;
$fontsize-large: 40px;
$fontsize-xlarge: 50px;
$fontsize-xxlarge: 60px;

/******** LAYOUT WIDTHS ********/
$max-page-width: 1000px;