.post-template-default {
    & .site-header {
        z-index: 1000;
    }

    & .entry-header {
        margin-bottom: $spacing-medium;
        padding: 0;
        position: relative;
        width: 100%;

        @media (min-width: $breakpoint-width-large) {

        }
    }

    & .entry-title {
        margin: 0;
    }

    & .header-overlay-content {
        align-items: center;
        background: $color-gray-dark;
        bottom: 0;
        box-sizing: border-box;
        color: $color-white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 0;
        opacity: 0.93;
        padding: $spacing-small;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;

        @media (min-width: $breakpoint-width-medium) {
            bottom: initial;
            left: 50%;
            padding: $spacing-medium;
            right: initial;
            text-align: left;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 45%;

            & .posted-on {
                margin: 0 auto 0 0;
            }
        }
    }

    & .posted-on {
        & .updated {
            display: none;
        }
    }

    & .post-thumbnail > img {
        height: auto;
        width: 100%;
    }
}
